<!--$ # StaticTea Template -->
<!--$ # This template creates the index to the nim module documentation.  -->
<!--$ # Also see index.tea -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>StaticTea Modules</title>
<style>
body {
    max-width: 40em;
    font-size: 2em;
    margin-left: 1em;
}

.staticteadep {
    width: 100%;
}

.staticteadep2 {
    width: 500px
}
</style>
</head>
<body>

<h1>StaticTea Modules</h1>
<p>
This is the index to the StaticTea source code documentation.
</p>
<h3>Module Dependencies</h3>
<p>
  The module dependencies graph shows the dependencies between
  the StaticTea modules; which modules are imported and used by
  other modules. The size is proportional to the module file
  size. Green modules don't include other modules.
</p>
<p>
  Click a module:
</p>

<!--$ # Use an object element so the svg links work. -->
<object type="image/svg+xml" data="../staticteadep.svg" class="staticteadep">
  <img class="staticteadep" src=../staticteadep.svg alt="Module Dependencies Graph" />
</object>

<h3>Index</h3>

<ul>
<!--$ nextline -->
<!--$ : t.repeat = len(o.entries) -->
<!--$ : entry = o.entries[t.row] -->
<li><a href="{entry.name}.html">{entry.name}.nim</a> &mdash; {entry.shortDesc}</li>
</ul>

<h3>Nim Module Usage</h3>

<p>The graph shows the nim modules on the left and the StaticTea
  modules on the right. The arrows tell which StaticTea module
  imports which nim module.</p>
<p>
  Click a StaticTea module:
</p>

<!--$ # Use an object element so the svg links work. -->
<object type="image/svg+xml" data="../staticteadep2.svg" class="staticteadep2">
  <img class="staticteadep2" src=../staticteadep2.svg alt="Nim
  Module Usage" />
</object>

<p>⦿ This page was generated
by <a href="https://github.com/flenniken/statictea/">statictea</a>
from nim doc comments. ⦿</p>

</body>
</html>
