<!--$ # StaticTea Template -->
<!--$ # This template creates a module's docs from nim doc comments.  -->
<!--$ # Also see nimModule.tea -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!--$ nextline -->
<title>{o.moduleName}</title>
<link rel="stylesheet" type="text/css" href="nimModule.css">
</head>
<body>
<!--$ block -->
<h1>{o.moduleName}</h1>

{o.moduleDescription}

Nim source code: <a href="../../src/{o.moduleName}">{o.moduleName}</a>
<!--$ endblock -->

<h1>Index</h1>

<ul>
<!--$ nextline -->
<!--$ : t.repeat = len(o.entries) -->
<!--$ : entry = o.entries[t.row] -->
<li>{entry.type} <a href="#{entry.anchor}">{entry.name}</a> &mdash; {entry.short}</li>
</ul>

<!--$ # Create the function sections. -->
<!--$ block -->
<!--$ : t.repeat = len(o.entries) -->
<!--$ : entry = o.entries[t.row] -->
<h3 id="{entry.anchor}">{entry.name}</h3>

{entry.description}

<pre class="nim-code">
{entry.signature}
</pre>

<!--$ endblock -->

<p>⦿ This page was generated
by <a href="https://github.com/flenniken/statictea/">statictea</a>
from nim doc comments. ⦿</p>

<!--$ # Create a section for testing the different code blocks -->
<!--$ # that contain content. -->
<!--$ block t.repeat = 0 -->
<p>
StaticTea code block:
</p>
<pre class="tea-code">
d = dict("tea", "Earl Grey")
get(d, "tea") => "Earl Grey"
get(d, "coffee", "Tea") => "Tea"
</pre>
<p>
Plain code block:
</p>
<pre class="plain-code">
d = dict("tea", "Earl Grey")
get(d, "tea") => "Earl Grey"
get(d, "coffee", "Tea") => "Tea"
</pre>
<p>
nim code block:
</p>
<pre class="nim-code">
func fun_replace_siiss*(variables: Variables, arguments: seq[Value]): FunResult =
</pre>

<!--$ endblock -->
</body>
</html>
